﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="WithoutOuth.master.cs" Inherits="CRM.WithoutOuth" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />    
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server" autocomplete="off">
        <div class="page">
            <div class="header">
                <div class="title">
                    <h1>EESL
                    </h1>
                </div>
                <div class="loginDisplay">
                    <asp:Label ID="Label1" runat="server" Text="Welcome"></asp:Label>
                    <asp:Label ID="lblSeprator" runat="server" Text=" | "></asp:Label>
                    <asp:Label ID="Label3" runat="server"><%= DateTime.Now.ToString("dd-MM-yyyy") %></asp:Label>
                </div>
                <div class="clear hideSkiplink">
                    <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false"
                        IncludeStyleBlock="false" Orientation="Horizontal">
                        <%--<Items>
                            <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/Home.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Inbound Call" Value="Inbound Call" NavigateUrl="~/View/frmCallEntry.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Outbound Call" Value="Outbound Call" NavigateUrl="~/View/frmCourseEvaluation.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Search" Value="Search" NavigateUrl="~/View/frmSearch.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="FAQ" Value="FAQ" NavigateUrl="~/View/frmFAQs.aspx"></asp:MenuItem>
                        </Items>--%>
                    </asp:Menu>
                </div>
            </div>
            <div class="main">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </div>
            <div class="clear">
            </div>
            <div class="header">
                <div class="loginDisplay">
                    <table width="100%">
                        <tr>
                            <td align="left" width="40%">
                                <asp:Label ID="hlLastLogin" runat="server" ForeColor="White"></asp:Label>
                            </td>
                            <td width="60%">
                                <asp:HyperLink ID="hlDownloads" runat="server" Text="Downloads"></asp:HyperLink>
                                <asp:HyperLink ID="HyperLink4" runat="server" Text="|"></asp:HyperLink>
                                <asp:LinkButton ID="linkPrivacyPolicy" runat="server" Text="Privacy Policy"></asp:LinkButton>
                                <asp:HyperLink ID="HyperLink1" runat="server" Text="|"></asp:HyperLink>
                                <asp:Label ID="lblCopyRight" runat="server" ForeColor="White"></asp:Label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
